[Unit]
Description=yahboom_oled start service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/bin/sh -c "python3 /home/pi/DOGZILLA/app_dogzilla/oled_dogzilla.py"
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
