<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>LwuDynamic</title>
    <script src="{{ url_for('static',filename='socket.io.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename='console.css') }}" />
</head>

<body>
    <div class="header">
        <button class="reset-btn" onclick = "socket.emit('reset','REST')">Reset</button>
        <div class="balance" onclick = "socket.emit('balance','1')">Balance</div>
    </div>
    <div class="main">
        <iframe id = 'videoFrame' class = "video_feed"></iframe>
    </div>
    <div class="footer">
        <div class="action-div">
            <div onclick = "socket.emit('action','1')">
                <img src="{{url_for('static' , filename='./images/tool-action.png')}}" alt="">
                <span>Action</span>
            </div>
        </div>
        <ul class="control-buttons">
            <li onclick = "socket.emit('PushUp','21')">PushUp</li>
            <li onclick = "socket.emit('TakeAPee','11')">TakeAPee</li>
            <li onclick = "socket.emit('WaveHand','19')">WaveHand</li>
            <li onclick = "socket.emit('UpDown','6')">UpDown</li>
            <li onclick = "socket.emit('LookFood','17')">LookFood</li>
            <li onclick = "socket.emit('Dance','23')">Dance</li>
        </ul>
        <div class="height-control">
            <span>Height</span>
            <input type="range" min="0" max="100" value="50" id="height-slider">
            <span class="value-display">50</span>
        </div>
        <div class="joystick-container">
            <div class="joystick-btn up" >↑</div>
            <div class="joystick-btn left">←</div>
            <div class="joystick-btn right">→</div>
            <div class="joystick-btn down">↓</div>
        </div>
    </div>
    <script>
        var deviceIP = "{{device_ip}}";
        document.getElementById('videoFrame').src = "http://" + deviceIP +":5001/camera";
        
        
        var socket = io();
        socket.on('connect', function () {
            alert('connected!');
        });
        socket.on('disconnect', function () {
            alert('disconnected!');
        });
        socket.on('error', function (data) {
            alert('error!' + data);
        });

        let isPressed = {
            up: false,
            down: false,
            left: false,
            right: false
        };

        function startMoving(event, direction, button) {
            event.preventDefault();

            if (!isPressed[direction]) {
                isPressed[direction] = true;
                console.log(`Move ${direction}`);
                button.style.background = "rgba(255, 255, 255, 0.5)";

                switch (direction) {
                    case 'up':
                        socket.emit('up', '12');
                        break;
                    case 'down':
                        socket.emit('down', '-12');
                        break;
                    case 'left':
                        socket.emit('left', '6');
                        break;
                    case 'right':
                        socket.emit('right', '-6');
                        break;
                }
            }
        }

        function stopMoving(event, direction, button) {
            event.preventDefault();
            if (isPressed[direction]) { 
                isPressed[direction] = false;
                console.log(`Stop ${direction}`);
                button.style.background = "rgba(255, 255, 255, 0.3)";
                socket.emit('reset', 'REST'); 
            }
        }


        const buttons = {
            up: document.querySelector('.up'),
            down: document.querySelector('.down'),
            left: document.querySelector('.left'),
            right: document.querySelector('.right')
        };

        for (let [key, button] of Object.entries(buttons)) {
            button.addEventListener('mousedown', (event) => startMoving(event, key, button));
            button.addEventListener('mouseup', (event) => stopMoving(event, key, button));
            button.addEventListener('mouseleave', (event) => stopMoving(event, key, button));

            button.addEventListener('touchstart', (event) => startMoving(event, key, button));
            button.addEventListener('touchend', (event) => stopMoving(event, key, button));
            button.addEventListener('touchcancel', (event) => stopMoving(event, key, button));
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            const heightControl = document.querySelector('.height-control');
            heightControl.style.position = "absolute";

            setTimeout(() => {
                heightControl.style.right = "5%"; 
            }, 500);
        });
        const heightSlider = document.getElementById('height-slider');
        const valueDisplay = document.querySelector('.value-display');
        heightSlider.addEventListener('input', function () {
            const value = this.value
            valueDisplay.textContent = value;
            socket.emit('height', value);
        });
    </script>
</body>

</html>
